* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#main .text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    /* border: 1px solid black; */
    overflow: hidden auto;
    padding: 20px 40% 0px 20px;
    font-family: 'SF Pro Text';
    /* background-color: red; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.text::-webkit-scrollbar {
    width: 10px;
}

.text::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.text::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satoshi Variable';
    font-weight: 400;
    color: #b6b6b6;
    pointer-events: none;
}

#main .nav {
    width: 100%;
    height: 8vh;
    background-color: black;
    position: relative;
}

.nav h3 {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(0, -50%);
    color: white;
    font-family: 'Aeonik';
    font-size: 20px;
    font-weight: 400;
}

#main .nick-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.nick-screen .nick-input {
    width: 16%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #fff; */
}

.nick-input input {
    /* background-color: white; */
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
}

.nick-input .enter-chat {
    width: 50px;
    height: 100%;
    background-color: rgb(9, 177, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid black;
    cursor: pointer;
}

.enter-chat ion-icon {
    color: #fff;
}

.enter-chat:active {
    border: none;
    background-color: lime;
}

.nick-input input::placeholder {
    will-change: placeholder;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.nick-input input:focus {
    outline: none;
}

.send-message {
    width: fit-content;
    padding: 15px;
    height: 6vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 1;
}

.send-message h3 {
    font-family: 'Aeonik';
    font-weight: 400;
}

#main .message-input {
    width: 50vw;
    height: 30vw;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-input textarea {
    width: 100%;
    height: 70%;
    border: none;
    resize: none;
    padding: 10px;
    font-family: 'Aeonik';
    font-size: 20px;
}

textarea:focus {
    outline: none;
}

#main button {
    width: 20%;
    height: 5%;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.online-people {
    width: 14vw;
    height: 30vh;
    overflow: auto;
    /* background-color: red; */
    border-radius: 15px;
    border: 0.3px solid black;
    position: absolute;
    top: 10%;
    right: 1%;
    padding: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.online-people::-webkit-scrollbar {
    display: none;
}

.hide-names {
    height: 7vh;
    overflow: hidden;
}

.online-nav {
    text-align: center;
    padding: 0px 0px 15px 0px;
    border-bottom: 0.5px solid #000000;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.toggle-border {
    border: 0px;
}

.online-nav h3 {
    font-family: 'Aeonik';
    font-weight: 500;
    word-wrap: none;
    /* font-size: 2vw; */
}

.online-people .names {
    width: 100%;
    height: 80%;
    padding-top: 5px;
    /* background-color: red; */
}

.names .name {
    width: 100%;
    height: fit-content;
}

.name h4 {
    font-family: 'Aeonik';
}

.text .message {
    width: fit-content;
    height: fit-content;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: bottom;
}

.text h3 {
    font-size: 13px;
    color: #585a5d;
    font-weight: 500;
}

.text .pfp {
    margin-top: 10px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8%;
    outline: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #00aff0, #FFFFFF);
    position: relative;
}

.full-msg {
    display: flex;
    gap: 0.6em;
}

.pfp h2 {
    font-family: 'SF Pro Text';
    font-weight: 500;
    color: #fff;
    font-size: 22px;
}

.user-dets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
    position: relative;
}

.msg-wrapper {
    /* background-color: red;    */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.msg-wrapper .replay-icon {
    cursor: pointer;
    padding: 2px;
    margin-bottom: 4px;
    position: relative;
}

.replay-icon img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#main .video {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 100vw;
    height: 90vh;
    display: none;
}

.video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.typing-message {
    width: fit-content;
    padding: 0px 10px;
    height: fit-content;
    background: linear-gradient(90deg, #50C9C3, #96DEDA);
    border-radius: 10px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-message h4 {
    font-family: 'SF Pro Text';
    line-height: 23px;
    color: #fff;
    font-weight: 200;
}

.joining-users {
    width: 30%;
    height: fit-content;
    position: fixed;
    top: 6%;
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaving-users {
    width: 50%;
    height: 20%;
    position: absolute;
    top: 2%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaving-users h3 {
    position: absolute;
    color: black;
    text-align: center;
}

/* .loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.loading-screen img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
} */

.center {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.center .aboutTTS {
    width: 35%;
    height: 10%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.aboutTTS h2 {
    font-family: 'Satoshi Variable';
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.send-msg {
    opacity: 0;
    width: 47.5%;
    padding: 15px;
    border-radius: 25px;
    /* background-color: red; */
    height: 8vh;
    border: 1px solid black;
    cursor: text;
    position: absolute;
    bottom: 5%;
    left: 48%;
    transform: translate(-50%, -50%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.send-msg .emoji {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    left: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    cursor: pointer;
}

.send-msg input {
    height: 100%;
    width: 93.5%;
    padding: 20px 0px;
    font-size: 18px;
    font-family: 'Aeonik';
    font-weight: 400;
    outline: none;
    border: none;
}

.send-msg input:focus {
    outline: none;
}

.send-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0.5%;
    background: linear-gradient(135deg, rgb(0, 188, 242), rgb(0, 120, 212));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.send-btn:hover {
    background: linear-gradient(135deg, rgb(0, 120, 212), rgb(0, 120, 212));
}

.send-btn ion-icon {
    color: #fff;
    font-size: 22px;
}

.send-msg .voice-recog {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    right: -10%;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gilroy';
}

.voice-recog ion-icon {
    font-size: 20px;
}

.voice-recog:active {
    background-color: rgba(239, 239, 239, 0.473);
}

.right {
    padding-left: 725px;
    flex-direction: row-reverse;
    align-items: center;
}

.row-rev {
    flex-direction: row-reverse;
}

.flex-end {
    align-items: flex-end;
}

.nowrap {
    white-space: nowrap;
}